.projects-text-zone {
  position: relative !important;
  left: 0 !important;
}
.projects-page {
  margin-left: 13em;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}