.logo-container {
  z-index: 0;
  width: 550px;
  height: 550px;
  position: absolute;
  right: 10%;
  bottom: -2.5em;
  left: auto;
  margin: auto;
  animation: fadeIn 4s;

  img {
    width: 100%;
  }
}