.skills-text-zone {
  height: 90%;
  width: 65% !important;
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.skills-logo-img-cont {
  transition: all 0.5s ease-in-out;
}
.skills-logo-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .skills-logo {
    margin: 1rem 0;
    width: 15%;
    height: 45%;
    background: none;
    border: none;
    animation: pulse 1s;

    div {
      img {
        width: 90%;
        height: 90%;
      }
    }
    &:nth-of-type(1){
      animation-delay: 1.1s;
    }
    &:nth-of-type(2){
      animation-delay: 1.2s;
    }
    &:nth-of-type(3){
      animation-delay: 1.3s;
    }
    &:nth-of-type(4){
      animation-delay: 1.4s;
    }
    &:nth-of-type(5){
      animation-delay: 1.5s;
    }
    &:nth-of-type(6){
      animation-delay: 1.6s;
    }
    &:nth-of-type(7){
      animation-delay: 1.7s;
    }
    &:nth-of-type(8){
      animation-delay: 1.8s;
    }
    &:nth-of-type(9){
      animation-delay: 1.9s;
    }
    &:nth-of-type(10){
      animation-delay: 2s;
    }
    &:nth-of-type(11){
      animation-delay: 2.1s;
    }
    .skills-logo-name {
      display: none;
      color: #000080;
      margin: auto;
      font: {
        size: 3rem;
        family: 'Coolvetica';
        weight: 400;
      }
    }
    
    &:hover {
      .skills-logo-img-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: -20%;
        top: 45%;
        width: 15%;
        height: 30%;
        background-color: #fff;
        padding: 3rem 5rem;
        border-radius: 40px;
        text-align: center;
        align-items: center;
      }
      img {
        width: 90%;
        margin-bottom: 1em;
      }
      .skills-logo-name {
        display: inline-block;
        font-size: 1.5em;
        margin: 0;
      }
    }
  }

}