.cv-page {
  display: flex;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: #000;
  margin-top: 5%;
  animation: fadeInUp 1s 1s;
  animation-fill-mode: forwards;
}
.cvs-container {
  width: 100%;
  margin: 5% 0;
  display: flex;
  opacity: 0;
  animation: fadeInUp 2s 2s;
  animation-fill-mode: forwards;


  div {
    width: 50%;
    text-align: center;

  }
}
.CV-icon {
  content: '';
  font-size: 15rem;
  color: #000080;
  i {
    transition: all 0.3s ease-out;
  }

  &:hover {
    color: #0437F2; /* Ultramarine */;
  }
}
.to-CV {
  text-decoration: none;
  h3 {
    color: #fff;
    font: {
      size: 2em;
    }
  }
}