.nav-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  width: 90px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px;

    img {
      display: block;
      margin: 8px auto;
      width: 50px;
      height: auto;

      &:first-of-type{
        border-radius: 50%;
        background-color: white;
      }
    }

    &.sub-logo{
      width: 50px;
    }
  }
  nav{
    display: block;
    text-align: center;
    top: 50%;
    width: 100%;

    a {
      font-size: 30px;
      color: #4d4d4e;
      line-height: 60px;
      display: block;
      text-decoration: none;
      position: relative;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #0437F2; /* Ultramarine */
        svg{
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: '';
        font-size: 12px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after{
          content: 'HOME';
        }
      }
      &.about-link {
        &::after {
          content: 'ABOUT';
        }
      }
      &.skills-link {
        &::after {
          content: 'SKILLS';
        }
      }
      &.cv-link {
        &::after {
          content: 'CV';
          font-size: 1.5rem;
        }
      }
      &.projects-link {
        &::after {
          content: 'PROJECTS';
        }
      }
      &.contact-link {
        &::after {
          content: 'CONTACT';
        }
      }
      &.active {
        svg {
          color: #0437F2;
        }
      }
    }
  }

  ul {
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 2em;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 25px;
        line-height: 16px;

        &:hover svg{
          color: #0042cf;
        }
      }
    }
  }
}
